.ForumComp {
    background-color: lightgoldenrodyellow;
}

.ForumBody {
    display: flex;
    flex-wrap: none;
    justify-content: space-between;
}

.opener {
    font-family: DejaVu Sans Mono, monospaces;
    font-weight: bold;
    padding: 1em;
}

.displayPost {
    margin: 3%;
    font-family: OCR A Std;
    border-style: groove;
    border-color:green;
}

.top {
    display: flex;
    flex-wrap: none;
    justify-content: space-between;
}

.shiftText {
    padding-left: 2%;
    padding-right: 2%;
}

.down {
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    flex-wrap: none;
    justify-content: space-between;
    padding-right: 2%;
    padding-top: 1%;
}

.hiddenDetails {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.post .opening {
    display: none;
  }
  
.active .opening {
    display: block;
}








