.ForumBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search {
    background-color: khaki;
    border-style: groove;
    border-color:green;
    padding: 1%;
    width:fit-content;
    margin: 2%;
}
.filter {
    background-color: khaki;
    border-style: groove;
    border-color:green;
    padding: 1%;
    height:fit-content;
    width:fit-content;
    margin: 2%;

}
.opener {
    font-family: DejaVu Sans Mono, monospaces;
    font-weight: bold;
    padding-bottom: 5%;
}

.displayPost {
    margin: 3%;
    font-family: OCR A Std;
    border-style: groove;
    border-color:green;
    background-color: lightgoldenrodyellow;
    width: 30em;
}

.top {
    display: flex;
    flex-wrap: none;
    justify-content: space-between;
}

.shiftText {
    padding-left: 2%;
    padding-right: 2%;
}

.down {
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    flex-wrap: none;
    justify-content: space-between;
    padding-right: 2%;
    padding-top: 1%;
}

.hiddenDetails {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.post .opening {
    display: none;
  }
  
.active .opening {
    display: block;
}

.topComment {
    display: flex;
    flex-wrap: none;
    justify-content: space-between;
    padding-right: 5%;
    font-size: large;
    font-style: italic;
}

.commentBody {
    padding-left: 5%;
}








