h1 {
  font-family: OCR A Std;
  margin: 0;
  font-weight: bold;
}

text {
    font-family: OCR A Std;
    font-weight: bold;
    font-size: 200%;
    padding-bottom: 2%;
}
h4 {
    font-family: OCR A Std;
    margin: 0;
    font-weight: bold;
    font-size: 130%;
}
.submit{
  background-color: white;
}